.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.empty {
  text-align: center;
  padding: 48px 0;
}

.date {
  font-size: 12px;
}