.container {
  height: 100%;
  background: #001529;
}

.leftSider {
  background: #fff;
  overflow-y: auto;
}

.rightSider {
  background: #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.mainLayout {
  background: #001529;
}

.content {
  background: #001529;
  padding: 16px;
  overflow: hidden;
}